/* .task-list { */
/*   list-style-type: none; */
/*   padding-left: 10px; */
/* } */
/* .task-list-item { */
/*   padding-left: 20px; */
/* } */
/* .task-list-item label { */
/*   font-weight: normal; */
/* } */
/* .task-list-item + .task-list-item { */
/*   margin-top: 3px; */
/* } */
/* .task-list-item-checkbox { */
/*   float: left; */
/*   margin-left: -20px; */
/*   margin-top: 4px; */
/* } */


.task-list-item {
  list-style-type: none;
}

.task-list-item+.task-list-item {
  margin-top: 3px;
}

.task-list-item input {
  margin: 10em .2em .25em -1.6em;
  vertical-align: middle;
}

